body {
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: 2;
}

h1,
h2,
h3,
a {
    font-family: $headings-font;
    margin: 0;
}

p {
    margin: 0;
}

.logo {
    font-size: $regular;
}

.greeting {
    font-size: $big;
}

.greeting__hello {
    font-weight: $bold;
}

.project p {
    font-size: $small;
}

footer p {
    font-size: $smaller;
}