.social-icons {
    font-size: $big;
    display: flex;
    flex-direction: row;
}

.social-icon {
    display: block;
    margin: 1em 2.62em 1em 0;
}

.footer {
    margin: 0 auto 1.62em;
}