$base-color: #8a75f0;
$neutral-blue: #6c9ef8;
$light-purpink: rgba(209, 108, 248, 0.5);
$purpink: rgba(209, 108, 248, 1);
$button-gradient: radial-gradient(319.86px at 14.12% 248.65%, #6c9ef8 0%, #d16cf8 100%);
$main-gradient: linear-gradient(180deg, rgba(108, 158, 248, 0.5) 0%, rgba(209, 108, 248, 0.5) 100%);
$white: #fefdff;
$dark-gray: #4f4f4f;
$gray: #828282;