// Font Families
$headings-font: "Raleway", sans-serif;
$base-font: "Lato", sans-serif;

// Font Weights
$light: 100;
$regular: 400;
$bold: 600;

// Font Sizes
$base-font-size: 18px;
$smaller: $base-font-size * 0.563;
$small: $base-font-size * 0.75;
$regular: $base-font-size;
$big: $base-font-size * 1.333;
$bigger: $base-font-size * 1.777;